<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ggr2.sdkwap" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.NETWORK"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >

        <activity android:name="com.r2games.sdk.google.iab.GoogleIabAct"
            android:configChanges="keyboard|keyboardHidden|screenLayout|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <meta-data android:name="R2_GAME_ID" android:value="@string/r2_game_id" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/google_games_app_id" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />





    </application>

</manifest>
